In [1]:
import pandas as pd

In [2]:
test=pd.read_csv("test.csv")

In [3]:
test.head()

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
3,895,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S

In [4]:
features=test[['Sex','Fare']]

In [19]:
features.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 418 entries, 0 to 417
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Sex     418 non-null    int64
 1   Fare    418 non-null    float64
dtypes: float64(1), int64(1)
memory usage: 6.7 KB

In [12]:
def gender(x):
    if x=='male':
        return 0
    else:
        return 1

In [18]:
features['Sex']=features['Sex'].apply(gender)

C:\Users\ayush\AppData\Local\Temp\ipykernel_26192\1435828395.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  features['Sex']=features['Sex'].apply(gender)

In [14]:
features['Fare']=features['Fare'].fillna(features['Fare'].median())

C:\Users\ayush\AppData\Local\Temp\ipykernel_26192\1331618829.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  features['Fare']=features['Fare'].fillna(features['Fare'].median())

In [15]:
#scaling fare
from sklearn.preprocessing import MinMaxScaler
min_max=MinMaxScaler(feature_range=(0,1))
features['Fare']=min_max.fit_transform(features[['Fare']])

C:\Users\ayush\AppData\Local\Temp\ipykernel_26192\2876443489.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  features['Fare']=min_max.fit_transform(features[['Fare']])

In [16]:
import pickle
dbfile = open('model.pkl', 'rb')    
model= pickle.load(dbfile)

In [21]:
test['Survived']=model.predict(features)

In [24]:
test.tail()

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Survived
413,1305,3,"Spector, Mr. Woolf",0,NaN,0,0,A.5. 3236,8.0500,NaN,S,0
414,1306,1,"Oliva y Ocana, Dona. Fermina",1,39.0,0,0,PC 17758,108.9000,C105,C,1
415,1307,3,"Saether, Mr. Simon Sivertsen",0,38.5,0,0,SOTON/O.Q. 3101262,7.2500,NaN,S,0
416,1308,3,"Ware, Mr. Frederick",0,NaN,0,0,359309,8.0500,NaN,S,0
417,1309,3,"Peter, Master. Michael J",0,NaN,1,1,2668,22.3583,NaN,C,0

In [25]:
res={'PassengerId':test['PassengerId'],'Survived':test['Survived']}

In [27]:
df=pd.DataFrame(res)

In [29]:
df.to_csv('result.csv')